project_id                   = "cybertranspay"
project_number               = "1079379369218"
region                       = "europe-west1"
routing_engine_image_tag     = "latest"
allow_public_routing_api     = true
auth_required                = true
auth_api_keys                = "replace-with-long-random-key"
create_auth_secret           = true
github_app_installation_id   = 0
